//Main
$primary: rgba(96, 24, 251, 1);
$primary-100: rgba(96, 24, 251, 0.1);
$accent: rgba(24, 251, 210, 1);

//Background
$bg: rgba(11, 11, 35, 1);
$bg-100: rgba(255, 255, 255, 0.05);
$bg-200: rgba(255, 255, 255, 0.1);

//Type
$type: rgb(255, 255, 255, 1);
$type-100: rgb(255, 255, 255, 0.1);
$type-600: rgba(255, 255, 255, 0.6);
$type-800: rgba(255, 255, 255, 0.8);

//Gradient

$gradient-pink: linear-gradient(to right, #ba5370, #f4e2d8);
$gradient-lime: linear-gradient(to right, #c2e59c, #64b3f4);
$gradient-yellow: linear-gradient(to right, #fffc00, #ffffff);
$gradient-orange: linear-gradient(to right, #fe8c00, #f83600);
