//Size

$size-h1: clamp(2rem, 4vw, 3rem);
$size-h2: clamp(1.25rem, 4vw, 1.875rem);
$size-h3: clamp(1rem, 4vw, 1.125rem);
$font-large: 1.25rem;

//Weight

$regular: 400;
$medium: 500;
$semi-bold: 600;
$bold: 700;
