@use "../abstracts/colors";
@use "../abstracts/fonts";
@use "../abstracts/variables";

.about {
  margin-top: 7.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.images {
  display: flex;
  position: relative;
  align-items: flex-end;
  max-width: fit-content;
}

.img-wrapper {
  max-width: 20rem;
  overflow: hidden;
  border-radius: 2rem;
  aspect-ratio: 2/3;
}

.img-wrapper:nth-child(2) {
  max-width: 14rem;
  min-height: 18rem;
  transform: translate(-50%, 5rem);
}

.images .img-wrapper img {
  min-height: 100%;
  transition: scale 500ms variables.$easing;
}

.about-content p {
  max-width: 50ch;
}

.img-wrapper:hover img {
  scale: 1.5;
}

@media screen and (max-width: 45rem) {
  section.about {
    margin-top: 3rem;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .images {
    align-items: center;
  }

  .img-wrapper:nth-child(2) {
    transform: translate(-2rem, 0rem);
  }
}
