@use "../abstracts/colors";
@use "../abstracts/fonts";
@use "../abstracts/variables";

.blob {
  position: fixed;
  z-index: -1;
  background: colors.$gradient-lime;
  width: 25rem;
  height: 25rem;
  border-radius: 100vw;
  filter: blur(50px);
  opacity: 0.2;
}
