button {
  padding: 1em 3.5em;
  border-radius: 0.25rem;
  border: 1px solid transparent;
  font-weight: 600;
  color: rgb(255, 255, 255);
  word-wrap: break-word;
  transition: border 250ms cubic-bezier(0.46, 0.03, 0.52, 0.96), background-color 250ms ease, transform 100ms cubic-bezier(0.46, 0.03, 0.52, 0.96);
}

button:hover {
  cursor: pointer;
  transform: scale(1.025);
}

button:active {
  transform: scale(1);
}

button.primary {
  background-color: rgb(96, 24, 251);
}

button.primary:hover {
  background-color: rgba(96, 24, 251, 0.1);
  border: 1px solid rgb(96, 24, 251);
}

button.secondary {
  background-color: rgba(255, 255, 255, 0.05);
}

button.secondary:hover {
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.1);
}

button.small {
  font-size: 0.875rem;
  padding: 0.625rem 1.875rem;
  font-weight: 500;
}

button.pill {
  border-radius: 100vw;
  border: 1px solid rgb(255, 255, 255);
  box-shadow: 0px 15px 30px 0px rgba(0, 0, 0, 0.1);
  background-color: transparent;
  margin-top: 2.5rem;
}

.button-group {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

@media screen and (max-width: 30rem) {
  .button-group {
    flex-direction: column;
    width: 100%;
  }
  .button-group button,
  a {
    width: 100%;
  }
}
section.cta {
  margin-top: 7.5rem;
}

.cta {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 0rem;
  border-top: 1px solid rgba(255, 255, 255, 0.05);
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
  gap: 1rem;
}

.cta h2 {
  max-width: 30ch;
}

@media screen and (max-width: 700px) {
  section.cta {
    margin-top: 3rem;
  }
  .cta {
    flex-direction: column;
    text-align: center;
  }
}
html {
  font-family: "Inter", sans-serif;
  overflow-x: hidden;
}

body {
  color: rgb(255, 255, 255);
  background-color: rgb(11, 11, 35);
  line-height: 1.5;
  overflow-x: hidden;
}

h1,
h2,
h3 {
  font-weight: 700;
  color: rgb(255, 255, 255);
  text-wrap: balance;
}

h1,
h2 {
  margin-bottom: 1.875rem;
}

h1 {
  font-size: clamp(2rem, 4vw, 3rem);
}

h2 {
  font-size: clamp(1.25rem, 4vw, 1.875rem);
}

h3 {
  font-size: clamp(1rem, 4vw, 1.125rem);
  margin-bottom: 0.625rem;
}

p {
  color: rgba(255, 255, 255, 0.6);
}

p.accent-type {
  font-weight: 600;
  color: rgb(24, 251, 210);
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  margin-bottom: 0.25rem;
}

.wrapper {
  max-width: clamp(20rem, 100vw, 64rem);
  padding: 1rem;
  margin: 0 auto;
}

html.lenis {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}

.stagger-item {
  transform: translateY(2rem);
  opacity: 0;
  transition: transform 500ms cubic-bezier(0.46, 0.03, 0.52, 0.96), opacity 500ms cubic-bezier(0.46, 0.03, 0.52, 0.96);
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
::view-transition-old(root) {
  animation: fadeOut 300ms ease;
}

::view-transition-new(root) {
  animation: fadeIn 300ms ease;
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: unset;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
}

.logo {
  max-height: 2rem;
}

header.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2.5rem;
  position: relative;
  z-index: 99;
}

.nav-list-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 2.5rem;
}

.nav-list {
  display: flex;
  align-items: center;
  gap: 2.5rem;
  color: rgba(255, 255, 255, 0.8);
}

.nav-list li {
  transition: opacity 250ms cubic-bezier(0.46, 0.03, 0.52, 0.96), transform 250ms cubic-bezier(0.46, 0.03, 0.52, 0.96);
}

.nav-link {
  position: relative;
}

.nav-link::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 0.125rem;
  background-color: rgba(255, 255, 255, 0.8);
  bottom: -0.125rem;
  left: 0;
  transform-origin: right;
  transform: scale(0);
  transition: transform 300ms cubic-bezier(0.46, 0.03, 0.52, 0.96);
}

.nav-link:hover {
  color: rgb(255, 255, 255);
  cursor: pointer;
}

.nav-link:hover:after {
  transform-origin: left;
  transform: scale(1);
  background-color: rgb(255, 255, 255);
}

.mobile-nav-btn {
  display: none;
}

@media screen and (max-width: 35rem) {
  .mobile-nav-btn {
    display: block;
    z-index: 1000;
  }
  .mobile-nav-btn:hover {
    cursor: pointer;
  }
  .nav-list {
    position: absolute;
    padding: 10rem 2rem;
    width: 100vw;
    min-height: 100vh;
    top: -2.5rem;
    right: 0;
    flex-direction: column;
    background-color: rgba(11, 11, 35, 0.75);
    -webkit-backdrop-filter: blur(10px);
            backdrop-filter: blur(10px);
    transform: translateX(120%);
    opacity: 1;
    transition: transform 500ms cubic-bezier(0.46, 0.03, 0.52, 0.96), opacity 500ms cubic-bezier(0.46, 0.03, 0.52, 0.96);
  }
}
section.hero {
  margin-top: 7.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

section.hero p {
  max-width: 50ch;
  text-align: center;
}

section.hero .button-group {
  margin-top: 3rem;
}

@media screen and (max-width: 45rem) {
  section.hero {
    margin-top: 3rem;
    justify-content: flex-start;
    text-align: center;
  }
}
.about {
  margin-top: 7.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.images {
  display: flex;
  position: relative;
  align-items: flex-end;
  max-width: -moz-fit-content;
  max-width: fit-content;
}

.img-wrapper {
  max-width: 20rem;
  overflow: hidden;
  border-radius: 2rem;
  aspect-ratio: 2/3;
}

.img-wrapper:nth-child(2) {
  max-width: 14rem;
  min-height: 18rem;
  transform: translate(-50%, 5rem);
}

.images .img-wrapper img {
  min-height: 100%;
  transition: scale 500ms cubic-bezier(0.46, 0.03, 0.52, 0.96);
}

.about-content p {
  max-width: 50ch;
}

.img-wrapper:hover img {
  scale: 1.5;
}

@media screen and (max-width: 45rem) {
  section.about {
    margin-top: 3rem;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
  }
  .images {
    align-items: center;
    margin-left: auto;
  }
  .img-wrapper:nth-child(2) {
    transform: translate(0rem, 0rem);
    justify-self: end;
  }
  .img-wrapper:nth-child(1) {
    display: none;
  }
}
.blob {
  --position-x: 4vw;
  --position-y: 5vh;
  --animate-to-x: 10vw;
  --animate-to-y: 20vh;
  position: fixed;
  z-index: -1;
  background: linear-gradient(to right, #c2e59c, #64b3f4);
  width: 15rem;
  height: 15rem;
  border-radius: 100vw;
  filter: blur(50px);
  opacity: 0.2;
  animation: move 10s cubic-bezier(0.46, 0.03, 0.52, 0.96) infinite alternate;
}

.blob:nth-child(2) {
  background-color: linear-gradient(to right, #fe8c00, #f83600);
  width: 25rem;
  height: 25rem;
}

.blob:nth-child(3) {
  background-color: linear-gradient(to right, #ba5370, #f4e2d8);
  width: 20rem;
  height: 20rem;
}

.blob:nth-child(4) {
  background-color: linear-gradient(to right, #fffc00, #ffffff);
  width: 5rem;
  height: 5rem;
}

@keyframes move {
  0% {
    transform: translate(var(--position-x), var(--position-y));
  }
  100% {
    transform: translate(var(--animate-to-x), var(--animate-to-y));
  }
}
section.skills {
  margin-top: 12.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4rem;
}

section.skills img {
  max-width: 50%;
}

.skills-content h2 {
  max-width: 30ch;
}

.skills-content p {
  text-wrap: balance;
}

.skills-content ul {
  margin-top: 3.5rem;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.skills-content ul li {
  padding: 1rem 1.25rem;
  display: flex;
  align-items: center;
  gap: 1.365rem;
  color: rgb(255, 255, 255);
  border: 1px solid rgba(255, 255, 255, 0.1);
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 0.25rem;
}

.skills-content ul li p {
  color: rgb(255, 255, 255);
  font-weight: 600;
}

@media screen and (max-width: 45rem) {
  section.skills {
    margin-top: 3rem;
  }
  section.skills img {
    display: none;
  }
}
section.projects {
  margin-top: 7.5rem;
}

.projects header {
  text-align: center;
}

.projects-content {
  margin-top: 4rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: end;
  align-items: center;
  gap: 1.25rem;
}

.projects-content article {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  gap: 2.5rem;
  border-radius: 0.25rem;
  overflow: hidden;
  padding: 0rem 0rem 2.5rem 0rem;
  border: 1px solid transparent;
  transition: all 500ms cubic-bezier(0.46, 0.03, 0.52, 0.96);
}

.projects-content article:hover {
  border: 1px solid rgba(255, 255, 255, 0.1);
  background-color: rgba(255, 255, 255, 0.05);
}

.projects-content article:hover .project-img-wrapper img {
  scale: 1.2;
}

.project-img-wrapper {
  overflow: hidden;
  box-shadow: 0px 30px 60px 0px rgba(96, 22, 252, 0.03);
}

.project-img-wrapper img {
  transition: all 500ms cubic-bezier(0.46, 0.03, 0.52, 0.96);
  aspect-ratio: 1;
  -o-object-position: top;
     object-position: top;
}

@media screen and (max-width: 45rem) {
  section.projects {
    margin-top: 3rem;
  }
  .projects-content article {
    gap: 1rem;
  }
  button.pill {
    margin-top: 1rem;
  }
  .projects-content {
    grid-template-columns: repeat(1, 1fr);
  }
}
section.contact {
  margin-top: 7.5rem;
  display: flex;
}

section.contact ul {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.contact-info {
  display: flex;
  align-items: center;
  gap: 1.75rem;
  max-width: -moz-max-content;
  max-width: max-content;
}

section.contact ul li i {
  padding: 1.25rem;
  background-color: rgba(255, 255, 255, 0.05);
  border: 1px solid transparent;
  transition: all 250ms cubic-bezier(0.46, 0.03, 0.52, 0.96);
  display: flex;
  justify-content: center;
  align-items: center;
  aspect-ratio: 1;
}

.contact-info:hover i {
  border: 1px solid rgba(255, 255, 255, 0.1);
  background-color: rgba(255, 255, 255, 0.1);
}

form {
  padding: 3.25rem 2.25rem;
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 0.375rem;
  flex-direction: column;
  gap: 1.75rem;
}

label {
  font-size: 0.875rem;
  color: rgba(255, 255, 255, 0.6);
}

input,
textarea {
  border: 1px solid rgba(255, 255, 255, 0.1);
  background-color: transparent;
  padding: 0.5rem;
  border-radius: 0.25rem;
  color: rgb(255, 255, 255);
  transition: all 350ms cubic-bezier(0.46, 0.03, 0.52, 0.96);
}

input:hover,
input:focus,
textarea:hover,
textarea:focus {
  border: 1px solid rgb(255, 255, 255);
  outline: none;
  cursor: pointer;
}

button[type=submit] {
  outline: none;
}

.form-group,
.input-container,
form {
  display: flex;
}

.form-group {
  gap: 1.125rem;
}

.input-container {
  flex-direction: column;
  gap: 0.5rem;
  flex-grow: 1;
}

@media screen and (max-width: 45rem) {
  section.contact {
    margin-top: 3rem;
    flex-direction: column;
  }
  section.contact ul {
    gap: 1rem;
    margin-bottom: 2rem;
  }
  .form-group {
    flex-direction: column;
  }
  form {
    padding: 1rem;
    box-shadow: 0px 30px 60px 0px rgba(96, 22, 252, 0.03);
  }
}
footer.footer {
  margin-top: 7.5rem;
  padding: 3rem 1rem;
  display: flex;
  align-items: end;
  justify-content: space-between;
  border-top: 1px solid rgba(255, 255, 255, 0.05);
  flex-wrap: wrap;
}

footer.footer .left p {
  margin-top: 0.5rem;
  text-wrap: balance;
  max-width: 45ch;
}

@media screen and (max-width: 45rem) {
  footer.footer {
    margin-top: 3rem;
  }
}
header.project-header {
  margin: 0 auto;
  padding: 7.5rem 0rem 4.5rem 0rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  text-align: center;
}

.project-details {
  margin-top: 4rem;
  display: grid;
  align-items: center;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

.project-details .project-img-wrapper {
  border-radius: 0.25rem;
  overflow: hidden;
  border: 1px solid rgba(255, 255, 255, 0.05);
}

.project-img-wrapper:hover img {
  scale: 1.2;
}

.project-information,
.project-information ul {
  display: flex;
  flex-direction: column;
}

.project-information ul {
  gap: 2.5rem;
  margin-top: 3.25rem;
}

.project-information ul li p:nth-child(2) {
  color: rgb(255, 255, 255);
}

.project-information button {
  margin-top: 1rem;
}

.project-information button i {
  margin-left: 0.5rem;
}

.project-information p a {
  text-decoration: underline;
  color: rgb(255, 255, 255);
}

@media screen and (max-width: 45rem) {
  header.project-header {
    padding: 3rem 0rem 3rem 0rem;
  }
  .project-details {
    grid-template-columns: repeat(1, 1fr);
    align-items: start;
  }
}/*# sourceMappingURL=style.css.map */